In [11]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [6]:
X = 'G1 G1 G1 G2 G2 G2'
outside = X.split(' ')
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [7]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [8]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [13]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])
df

             A         B
G1 1  0.954861  2.235174
   2  3.186823  1.063177
   3 -1.389681 -0.308861
G2 1  0.058385  0.901300
   2 -0.904840  2.118953
   3  0.726940 -0.781001

In [15]:
df.loc['G1',1]

A    0.954861
B    2.235174
Name: (G1, 1), dtype: float64

In [16]:
df.index.names = ['Groups','Num']
df

                   A         B
Groups Num
G1     1    0.954861  2.235174
       2    3.186823  1.063177
       3   -1.389681 -0.308861
G2     1    0.058385  0.901300
       2   -0.904840  2.118953
       3    0.726940 -0.781001

In [17]:
df.loc['G2'].loc[2]['B']

2.1189529562830414

In [19]:
df.xs(1,level='Num') 
#it can go into the groups and grab info. unlike loc

               A         B
Groups
G1      0.954861  2.235174
G2      0.058385  0.901300