In [1]:
import numpy as np
import pandas as pd

In [2]:
labels=['a','b','c']
my_data = [10,20,30]
arr=np.array(my_data)
d= {'a':10,'b':20,'c':30}

In [6]:
pd.Series(my_data,labels)  # input1= data , Input2 = index

a    10
b    20
c    30
dtype: int64

In [8]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [9]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [12]:
ser1 = pd.Series([1,2,3,4],['India','Pakistan','Bangladesh','Afghanistan'])
ser1

India          1
Pakistan       2
Bangladesh     3
Afghanistan    4
dtype: int64

In [13]:
ser2 = pd.Series([1,2,5,4],['India','Pakistan','Sri Lanka','Afghanistan'])
ser2

India          1
Pakistan       2
Sri Lanka      5
Afghanistan    4
dtype: int64

In [16]:
ser1 + ser2

Afghanistan    8.0
Bangladesh     NaN
India          2.0
Pakistan       4.0
Sri Lanka      NaN
dtype: float64